<div class="container">
  <ul class="favorite-watch">
    <% if includes_movie(@movie) %>
      <%= render partial: "watchlists/delete_from_watchlist" %>
    <% else %>
       <%= render partial: "watchlists/add_to_watchlist" %>
    <% end %>

    <% if includes_favorite(@movie)%>
      <%= render partial: "favorites/delete_from_favorites" %>
    <% else %>
      <%= render partial: "favorites/add_to_favorites" %>
    <% end %>
  </ul>

  <div class="movie-image-container">
    <img id="movie-image" src="<%=@movie.image_url%> " alt="Add grey question image">
  </div>

  <div class="movie-description">
    <ul id="movie-info">
      <li><h2><%=@movie.title %> (<%=(@movie.release_date).year %>)</h2></li>
      <li><%=@movie.description %></li>
    </ul>
  </div>

  <div id="actors">
    <h2>Cast</h2>
    <%=@movie.actors %>
  </div>
  <hr>

  <div id="comments">
    <h2>Viewer Comments</h2>
      <br>
      <% if @movie.comments %>
        <ul class="comment" >
          <% @movie.comments.each do|comment| %>
            <%= render partial: 'comments/comment', locals: {comment: comment} %>
          <% end %>
        </ul>
      <% end %>
  </div>
  <hr>

  <div>
  <h3 >Leave a comment </h3>
   <%= form_for([@movie, @movie.comments.build], remote: true, :html => { :id => 'comment-form' } ) do |f| %>
      <%= f.label :comment %>
      <%= f.text_area :description %>
      <%= f.submit %>
    <% end %>
    <br><br>
  </div>
</div>
