<div class="container">
  <ul class="favorite-watch">
    <% if current_user %>
      <% if includes_movie(@movie) %>
        <%= render partial: "watchlists/add_to_watchlist", locals: {watchlist: @watchlist} %>
      <% else %>
        <%= render partial: "watchlists/delete_from_watchlist", locals: {watchlist: @watchlist} %>
      <% end %>

      <% if includes_favorite(@movie)%>
        <%= render partial: "favorites/add_to_favorites", locals: {movie: @movie} %>
      <% else %>
        <%= render partial: "favorites/delete_from_favorites", locals: {movie: @movie} %>
      <% end %>
    <% end %>
  </ul>

  <div class="movie-image-container">
    <img id="movie-image" src="<%=@movie.image_url%> " alt="Add grey question image">
  </div>

  <div class="movie-description">
    <ul id="movie-info">
      <li><h2><%=@movie.title %> (<%=(@movie.release_date).year %>)</h2></li>
      <li><%=@movie.description %></li>
    </ul>
  </div>

  <div class="actors">
    <h2>Cast</h2>
    <hr>

    <ul>
      <% @movie.actors.split(",").each do |actor| %>
        <li><%= actor %></li>
      <% end %>
    </ul>
  </div>

  <div id="comments">
    <h2>Viewer Comments</h2>
    <hr>

    <% if @movie.comments %>
      <ul class="comment" >
        <% @movie.comments.order("created_at DESC").each do|comment| %>
          <%= render partial: 'comments/comment', locals: {comment: comment} %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="comment-form-box">
  <% if current_user %>
    <h3 >Leave a comment </h3>
     <%= form_for([@movie, @movie.comments.build], remote: true, :html => { :id => 'comment-form' } ) do |f| %>
        <%= f.label :comment %>
        <%= f.text_area :description %>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
</div>
