<div class="movie-image-container">
  <img id="movie-image" src="<%=@movie.image_url%> " alt="Add grey question image">
</div>

<div class="movie-description">
  <h2>Details</h2>
  <ul id="movie-info">
    <li><%= @movie.title %></li>
    <li><%= @movie.release_date %></li>
    <li><%= @movie.description %></li>
  </ul>

  <ul>
    <li id="watchlist-button"><%=link_to '☆ Add to Watchlist', movie_watchlists_path(@movie), method: :post, remote: true%></li>
     <li id="favorites-button"><%=link_to '♡ Add to Favorites', movie_favorites_path(@movie), method: :post, remote: true%></li>
  </ul>

</div>

<div id="actors">
  <h2>Cast</h2>
  <%=@movie.actors %>
</div>
<hr>

<div id="comments">
  <h2>Viewer Comments</h2>
    <p>
    <% if @movie.comments %>
    <ul>
    <% @movie.comments.each do|comment| %>  
        <%= render partial: 'comments/comment', locals: {comment: comment} %> 
    <% end %>
    </ul>
    <% end %>
    <h3 >Leave a comment </h3>
      <%= form_for([@movie, @movie.comments.build], remote: true, :html => { :id => 'comment-form' } ) do |f| %>
        <p>
          <%= f.label :comment %>
          <%= f.text_area :description %>
        </p>
        <p >
          <%= f.submit %>
        </p>
      <% end %>
    </p>
</div>

