<div class="container">
  <h2>Welcome <%= @user.username %>!</h2>

  <h3>My Activities</h3>
  <hr>
  <div id="user_activity">
    <ul>
      <% if @activities.any? %>
        <% @activities.each do |activity| %>
          <li><%= link_to image_tag("#{activity.movie.image_url}", border: 0, class: "thumbnail" ), movie_path(activity.movie) %></li>
          <% if activity.action == "comment" %>
            <span class="small_details">You added a comment to <%= link_to activity.movie.title, movie_path(activity.movie) %></span><br><span class="small_details"> on <%= long_form_date(activity.created_at) %></span>
            <br>
            <br>
          <% elsif activity.action == "Remove Watchlist" %>
            <span class="small_details">You removed <%= link_to activity.movie.title, movie_path(activity.movie) %> from your Watchlist</span><br><span class="small_details"> on <%= long_form_date(activity.created_at) %></span>
            <br>
            <br>
          <% elsif activity.action == "Remove Favorite" %>
            <span class="small_details">You removed <%= link_to activity.movie.title, movie_path(activity.movie) %> from your Favorites</span><br><span class="small_details"> on <%= long_form_date(activity.created_at) %></span>
            <br>
            <br>
          <% else %>
            <span class="small_details">You added <%= link_to activity.movie.title, movie_path(activity.movie) %> to your <%= activity.action %></span><br><span class="small_details"> on <%= long_form_date(activity.created_at) %></span>
            <br>
            <br>
          <% end %>
        <% end %>
      <% else %>
        <li>You have no activity</li>
      <% end %>
    </ul>
  </div>

  <div id="user_watchlist">
    <h3>My Watchlist</h3>
    <hr>
    <ul class="list">
      <% if @watchlists.any? %>
        <% @watchlists.each do |watchlist| %>
          <li class="list-item col-1-4"><%= link_to image_tag("#{watchlist.movie.image_url}", border: 0), movie_path(watchlist.movie) %><%= link_to watchlist.movie.title, movie_path(watchlist.movie) %> </li>
        <% end %>
      <% else %>
        <li>You have no movies in your watchlist</li>
      <% end %>
    </ul>
  </div>

  <div id="user_favorites">
    <h3>My Favorites</h3>
    <hr>
    <ul class="list">
      <% if @favorites.any? %>
        <% @favorites.each do |favorite| %>
          <li class="list-item col-1-4"><%= link_to image_tag("#{favorite.movie.image_url}", border: 0), movie_path(favorite.movie) %><%= link_to favorite.movie.title, movie_path(favorite.movie) %> </li>
        <% end %>
      <% else %>
        <li>You have no movies in your favorites</li>
      <% end %>
    </ul>
  </div>

  <h3>My Comments</h3>
  <hr>
  <div id="user_comments">
    <ul>
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <li><%= link_to image_tag("#{comment.movie.image_url}", border: 0, class: "thumbnail" ), movie_path(comment.movie) %>
               <%= stub(comment.description) %> <br>
               <span class="small_details">Comment for <%= link_to comment.movie.title, movie_path(comment.movie) %></span><br>
               <span class="small_details"><%= "Written on #{long_form_date(comment.created_at)}" %></span>
          </li>
          <br>
          <hr>
        <% end %>
      <% else %>
        <li>You have no comments</li>
      <% end %>
    </ul>
  <div>
</div>