<h2>Welcome <%= @user.username %>!</h2>

<div id="user_activity">
  <h3>My Activity</h3>
  <ul>
    <% if @activities.any? %>
      <% @activities.each do |activity| %>
          <li> <%= "You #{activity.message} " %><%= link_to activity.movie.title, movie_path(activity.movie) %> </li>
          <br>
      <% end %>
    <% else %>
      <li>You have no activity</li>
    <% end %>
  </ul>
</div>

<hr>
<div id="user_watchlist">
  <h3>My Watchlist</h3>
  <ul class="list">
    <% if @watchlists.any? %>
      <% @watchlists.each do |watchlist| %>
        <li class="list-item col-1-4"><%= link_to image_tag("#{watchlist.movie.image_url}", border: 0), movie_path(watchlist.movie) %><%= link_to watchlist.movie.title, movie_path(watchlist.movie) %> </li>
      <% end %>
    <% else %>
      <li>You have no movies in your watchlist</li>
    <% end %>
  </ul>
</div>

<hr>
<div id="user_favorites">
  <h3>My Favorites</h3>
  <ul class="list">
    <% if @favorites.any? %>
      <% @favorites.each do |favorite| %>
        <li class="list-item col-1-4"><%= link_to image_tag("#{favorite.movie.image_url}", border: 0), movie_path(favorite.movie) %><%= link_to favorite.movie.title, movie_path(favorite.movie) %> </li>
      <% end %>
    <% else %>
      <li>You have no movies in your favorites</li>
    <% end %>
  </ul>
</div>

<hr>
<div id="user_comments">
  <h3>My Comments</h3>
  <ul>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <li><%= link_to image_tag("#{comment.movie.image_url}", border: 0, class: "thumbnail" ), movie_path(comment.movie) %>
             <%= stub(comment.description) %> <br>
             <span class="small_details">Comment for <%= link_to comment.movie.title, movie_path(comment.movie) %></span><br>
             <span class="small_details"><%= "Written on #{long_form_date(comment.created_at)}" %></span>
        </li>
        <hr>
      <% end %>
    <% else %>
      <li>You have no comments</li>
    <% end %>
  </ul>
<div>
